<div class="container">
  <h1>Welcome to Paradise!</h1>
  
  <form action="/login" method="POST">
    <p><h2>Existing Users, please log in.</h2><br><br>
      <% if @error_message %>
        <%=@error_message %>
      <% end %> <br>
      <label for="username">username:</label>
      <input id="username" type="text" name="username"><br>
      <label for="password">password:</label> 
      <input id="password" type="text" name="password"><br><br>
      <input type="submit" value="Enter Paradise"><br><br>
    If you're new to Paradise, <a href="/register" >Sign Up!</a>
  </form>


</div>
